@model IEnumerable<CarViewModel>
@{ 
    ViewBag.Title = "Home Page";
}
<div class="row mt-5 mb-2">
    @foreach(var item in Model){
    <div class="col-lg-4">
        <img src="@item.ImagePath" class="img-thumbnail" alt="@item.Brand.Title @item.ModelName">
        <h3>@item.Brand.Title</h3>
        <h4>@item.ModelName</h4>
    </div>
    }
</div>