@model IEnumerable<CouponViewModel>
@{
    ViewBag.Title = "Coupons";
}

<a class="btn btn-success" asp-controller="Coupons" asp-action="Create">Add New Coupon</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Discount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CouponCode</td>
                <td>@item.Discount</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Coupons" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-primary" asp-controller="Coupons" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-controller="Coupons" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>