@model CustomerViewModel
@{ 
    ViewBag.Title = "Details";
}
<h3>Customer</h3>
<a asp-controller="Customers" asp-action="Index">All Customers</a>
<dl>
    <dt>Id</dt>
    <dd>@Model.Id</dd>
    <dt>First Name</dt>
    <dd>@Model.FirstName</dd>
    <dt>Last Name</dt>
    <dd>@Model.LastName</dd>
    <dt>City</dt>
    <dd>@Model.City</dd>
    <dt>Phone Number</dt>
    <dd>@Model.PhoneNumber</dd>
</dl>